<p id="notice"><%= notice %></p>

<div class="container">
  <h1><%= @recipe.name %></h1>
  <div class="row">
    <div class="col col-4 text-center">
      <%= image_tag @recipe.image.variant(resize_to_limit: [320, 320]) %>
      <p>
        <%= "Prep: #{@recipe.prep_time } min | " if @recipe.prep_time.present? %>
        <%= "Cook: #{@recipe.cooking_time} min | " if @recipe.cooking_time.present? %>
        <%= "Servings: #{@recipe.servings} " if @recipe.servings.present? %>
      </p>
    </div>
    <div class="col-8" style="column-count: 2;column-width:50%;overflow:auto;">
      <%= @recipe.description %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col col-4">
      <h2>Ingredients</h2>
      <ul class="list-unstyled">
      <% @recipe.recipe_ingredients.each do |ingredient| %>
        <li>
          <%= "#{ingredient.qty} #{ingredient.measure} #{ingredient.ingredient.name}" %>
        </li>
      <% end %>
    </div>

    <div class="col col-8">
      <h2>Directions</h2>
      <%= @recipe.directions %>
    </div>
  </div>
</div>
